version: "3.0"

networks:
  guacd:
    driver: bridge

services:
  guacd:
    image: jumpserver/guacd:1.4.0
    container_name: guacd
    ports:
      - "4822:4822"
    environment:
      GUACD_LOG_LEVEL: debug
    networks:
      - guacd
    restart: always
    volumes:
      - ./data/:/opt/lion/data/:rw # /opt/lion/-> 本地项目路径, 修改 ./data 目录权限为777
