body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  background-color: #1f1b1b;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.428;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #272323;
}

::-webkit-scrollbar-thumb {
  background-color: #494141;
  border-radius: 6px;
}

#app {
  background-color: #1f1b1b;
}

.sidebar-popper .el-menu--popup .el-menu-item {
  line-height: 36px;
  height: 36px;
  font-size: 14px;
}

.el-submenu__title:hover {
	color: white;
	background: rgba(0, 0, 0, .3);
}

#guacamole-connect-menu {
    text-align:left;
}

.el-form-item__label {
  color: #ffffff;
}

.el-drawer {
  background-color: #303133;
}

.el-drawer__header span {
  color: #faf7f7;
}

/* .el-drawer__body {
  background-color: #303133;
  设置和 .el-drawer  一样的背景颜色，隐藏 btn 的关闭按钮
} */
.el-drawer__close-btn {
  color: #303133;
}

.el-textarea__inner {
  background-color: #737477;
  color: #ffffff;
}
