body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  background-color: #1f1b1b;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.428;
}

#app {
  background-color: #1f1b1b;
}

.sidebar-popper .el-menu--popup .el-menu-item {
  line-height: 36px;
  height: 36px;
  font-size: 14px;
}

.el-submenu__title:hover {
	color: white;
	background: rgba(0, 0, 0, .3);
}

#guacamole-connect-menu {
    text-align:left;
}
